* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html {
    height: 100%;
}

.main {
    height: 100vh;
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    width: 240px;
    background-color: rgba(0, 0, 0, 0.838);

}

.left_head {
    height: 30%;
    color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.left_bottom {
    height: 35%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.left_mid {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.left_bottom_top {
    display: flex;
    flex-direction: column;
    height: 50%;
    border-bottom: 2px dashed gray;
    border-top: 2px dashed gray;
    text-align: center;
    justify-content: center;
}

.left_bottom_bot {

    text-align: center;
    justify-content: center;
}



.button {

    padding: 10px 0;
    border: none;
    text-align: left;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: inherit;

}

.button:hover {

    transition: all 0.2s ease;
    transform: translateX(5px);
    padding-left: 2rem;
    box-shadow: -5px 5px 10px rgba(255, 255, 255, 0.2);

    background-color: rgb(140, 139, 139)
}



.madColor:hover {
    background-color: #8bffd1;
    transition: all 0.2s ease;
    color: Black;
    box-shadow: -5px 5px 10px #68ffc2;
}

.button.active {
    box-shadow: none;
    background-color: aliceblue;
    color: #000;
    transform: translateX(5px);
}



.p2 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1 {
    padding-top: 45px;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
}

.p1 {
    color: gray;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.iconContainer {
    display: inline-flex;
}

img {

    color: rgb(255, 255, 255);
}

.social_container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.social_icon {
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    text-decoration: none;
    color: aliceblue;
    transition: transform 0.2s ease;
}

.social_icon:hover {
    transform: scale(1.5);
}




.h2 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgb(249, 249, 249);
    font-size: 90px;
}

.container.home {
    display: flex;
    flex: 1;

    flex-direction: column;
    padding: 0%;
    background: linear-gradient(90deg, rgba(74, 70, 70, 0.838), rgb(159, 159, 159), rgba(74, 70, 70, 0.838));
    align-items: center;
    justify-content: center;
}